{
  "singleQuote": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "plugins": ["@prettier/plugin-php"],
        "phpVersion": "5.6",
        "singleAttributePerLine": true
      }
    }
  ]
}
